@page "/split"
@rendermode InteractiveServer
@implements IDisposable
@using Yamca.Web.Components.Chat

<PageTitle>Yamca - Split View</PageTitle>

@if (!_hydrated || Manager.Sessions.Count == 0)
{
    <MudContainer MaxWidth="MaxWidth.Large" Class="pa-2">
        <MudProgressCircular Indeterminate="true" />
        <MudText Class="ml-2 d-inline" Typo="Typo.body2">Loading…</MudText>
    </MudContainer>
}
else
{
    <div class="yamca-split yamca-split-@Manager.Sessions.Count">
        @foreach (var s in Manager.Sessions)
        {
            <ChatSessionPanel Chat="s" ShowHeader="true"
                              OnClose="@(() => CloseTile(s.Id))"
                              @key="s.Id" />
        }
    </div>
}

@code {
    [Inject] private ChatSessionManager Manager { get; set; } = default!;
    [Inject] private SettingsHydrator Hydrator { get; set; } = default!;

    private bool _hydrated;

    protected override void OnInitialized()
    {
        Manager.Changed += OnSessionsChanged;
    }

    protected override void OnParametersSet()
    {
        EnsureAtLeastOneSession();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Hydrator.HydrateAsync();
            _hydrated = true;
            StateHasChanged();
        }
    }

    private void OnSessionsChanged()
    {
        EnsureAtLeastOneSession();
        InvokeAsync(StateHasChanged);
    }

    private void EnsureAtLeastOneSession()
    {
        if (Manager.Sessions.Count == 0 && Manager.CanCreate)
            Manager.Create();
    }

    private void CloseTile(int id) => Manager.Close(id);

    public void Dispose()
    {
        Manager.Changed -= OnSessionsChanged;
    }
}
